@import "tailwindcss";

.flex-center {
  @apply flex justify-center items-center;
}

.main-padding {
  @apply px-[12vw] py-[5vw];
}

@theme {
  --color-custom-orange: #ffae52;
}

body {
  background-color: #fff;
  color: #727272;
}
